@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login{
        width: 90vw;
        height: 275px;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
    #formulario > p{
        margin: 10px 0px;
    }
    div.campo > input{
        background-color: #6fd1ce;
        font-size: 1em;
        width: calc(100% - 44.36px);
        height: 100%;
        border: 0px;
        border-radius: 0px 8px 8px 0px;
        padding: 4px;
        transform: translateY(-8px);
    }
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login{
        width: 990px;
        height: 310px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    #formulario > h1{
        font-size: 1.9em;
        text-align: center;
        margin-bottom: 10px;
    }
    #formulario > p{
        font-size: 1.1em;
        margin: 10px 0px;
    }
    div.campo > input{
        background-color: #6fd1ce;
        font-size: 1em;
        width: calc(100% - 44.36px);
        height: 100%;
        border: 0px;
        border-radius: 0px 8px 8px 0px;
        padding: 4px;
        transform: translateY(-8px);
    }
}